:root {
    --login-text-color: rgba(0, 0, 0, 0.7);
    --login-tabs-border-color: rgba(0, 0, 0, 0.1);
}

body,
html {
    margin: 0;
    padding: 0;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ele-body {
    height: 100vh;
}

.ele-menu {
    height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    overflow-y: auto;
}

.ele-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 49.5px;
    border-bottom: 1px solid var(--el-menu-border-color);
}

.ele-header .ele-header-left {
    display: flex;
    align-items: center;
    height: var(--el-header-height);
}

.ele-header .el-icon {
    cursor: pointer;
    font-size: 20px;
}

.ele-header .ele-header-right {
    display: flex;
    align-items: center;
}

.ele-header .ele-header-right .ele-userbox {
    display: flex;
    align-items: center;
    height: var(--el-header-height);
    color: var(--el-text-color-primary);
    outline: none;
    cursor: pointer;
    padding-right: 10px;
}

.ele-header .ele-header-right .ele-userbox b {
    font-size: 14px;
}

.ele-header .ele-header-actions {
    display: flex;
}

.ele-header .ele-header-actions .action-item {
    padding: 0px 10px;
    height: var(--el-header-height);
    display: flex;
    align-items: center;
}

.ele-footer {
    height: 50px;
    text-align: center;
    color: var(--el-text-color-secondary);
    font-size: 13px;
    font-weight: lighter;
    margin-top: 30px;
}

.ele-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: rgba($color: #ffffff, $alpha: 0.9);
}

.ele-logo img {
    width: 32px;
}

.ele-logo h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 0px 20px 0px 10px;
    white-space: nowrap;

    transition: all 0.3s;
}

// 侧边栏底部样式
.ele-aside .el-footer {
    color: rgba($color: #ffffff, $alpha: 0.6);
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.1);
}

.ele-aside .el-footer .el-icon {
    font-size: 18px;
}

.ele-aside .el-footer .ele-footer-btn {
    cursor: pointer;
}

.ele-body .el-footer {
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ele-tabbar {
    background: #f2f3f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 40px;
    overflow: hidden;
}

.ele-tabbar .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    background: #ffffff;
}

.ele-tabbar .ele-tabbar-main {
    width: calc(100% - 36px);
}

.ele-tabbar .ele-tabbar-action {
    width: 36px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--el-text-color-secondary);
    cursor: pointer;
    font-size: 12px;
    border-bottom: 1px solid var(--el-border-color-light);
}

.ele-tabbar .ele-tabbar-action .el-icon {
    padding: 2px;
    outline: none;
}

.ele-main__content {
    overflow: hidden;
}

.ele-main-body {
    height: calc(100% - 40px);
    overflow: auto;
}

.ele-main-body .ele-main-body__content {
    padding: 10px 20px 20px 20px;
}

// 搜索器样式
.ele-search-box {
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid var(--el-border-color);
    background: #f3f4f5;
    padding: 12px 20px;
}

.ele-search-box .el-form-item {
    --el-form-label-font-size: 13.5px;
    margin-bottom: 5px;
}

.ele-search-box .el-form-item .content .warper {
    width: 100%;
}

.ele-search-box .el-button,
.ele-actions-box .el-button {
    height: 30px;
    padding-top: 10px;
}

.ele-form-box {
    padding-top: 20px;
}

.ele-form .el-divider__text {
    font-size: 13px;
}

.ele-form .el-divider--horizontal {
    margin: 32px 0px;
}

.ele-drop {
    min-width: 110px;
}

.ele-drop-hd {
    color: var(--el-text-color-primary);
}

// 面包屑
.ele-breadcrumb {
    padding: 15px 0px 5px 0px;
}

// 表格样式
.ele-table-box .el-table {
    --el-table-border-color: var(--el-border-color);
    --el-table-border: 1px solid var(--el-border-color);
    --el-table-header-text-color: #303133;
    font-size: 13.5px;
}

.ele-table-box .el-table th.el-table__cell {
    --el-table-header-bg-color: #f3f4f5;
    font-weight: 600;
}

/* .ele-table-box .el-table td.el-table__cell {
} */
.el-table__inner-wrapper::before {
    height: 1px;
}

.el-table--border .el-table__inner-wrapper::after {
    height: 0.5px;
}

.ele-table-box .el-table .el-scrollbar__bar.is-vertical {
    display: none;
}

.el-dialog .ele-table-box .el-table .el-scrollbar__bar.is-vertical {
    display: block;
}

// 上传图片组件样式
.image-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--el-transition-duration-fast);
}

.image-uploader img.image {
    display: block;
    width: 120px;
    height: 120px;
}

.image-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.el-icon.image-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    text-align: center;
}

.ele-icon-select .el-select-dropdown__list {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    padding: 0;
}

.ele-icon-select .el-select-dropdown__list .el-select-dropdown__item {
    width: 12.5%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 1px solid #fafbfc;
    box-sizing: border-box;
}

// 进度条
#nprogress .bar {
    background: #1677ff !important;
}

// 登录页
.login-body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-body .login-header {
    display: flex;
    align-items: center;
    padding-top: 8vh;
}

.login-body .login-header .ele-logo {
    width: 45px;
    height: 45px;
    display: block;
    margin-right: 10px;
}

.login-body .login-header h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.login-body .login-info {
    font-weight: 300;
    font-size: 13.5px;
    color: var(--login-text-color);
    padding-top: 10px;
}

.login-body .login-form {
    width: 280px;
    padding-top: 60px;
}

.login-body .login-form .login-tabs {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--login-tabs-border-color);
    padding: 0 20px;
}

.login-body .login-form .el-form {
    padding-top: 30px;
}

.login-body .login-form .el-form .el-form-item .el-icon {
    color: var(--el-text-color-primary);
    font-size: 15px;
}

.login-body .login-form .el-tabs__nav-wrap:after {
    height: 0px;
}

.login-body .login-form .el-tabs__item {
    padding: 0 10px;
}

.login-body .login-flex-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
    font-size: 12px;
    font-weight: 300;
    color: var(--login-text-color);
}

// 暗色模式
.login-body.dark {
    background: #001529;
    color: rgba(255, 255, 255, 0.9);
}

.login-body.dark .login-info,
.login-body.dark .login-footer {
    --login-text-color: rgba(255, 255, 255, 0.6);
}

.login-body.dark .login-form .login-tabs {
    --login-tabs-border-color: rgba(255, 255, 255, 0.2);
}

.login-body.dark .el-tabs__item,
.login-body.dark .el-checkbox__label {
    --el-text-color-primary: rgba(255, 255, 255, 0.4);
}

.login-body.dark .el-tabs__nav-wrap:after {
    --el-border-color-light: rgba(255, 255, 255, 0.1);
}



// 文本
.text-gray {
    color: gray;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

// 边距
.mt {
    margin-top: 16px;
}


// 多语言样式
.app__en .el-menu .ele-menu-hd {
    font-weight: bold;
}

.app__en .ele-aside-hd {
    font-weight: bold;
}

.app__en .ele-tabbar-main .el-tabs--card>.el-tabs__header .el-tabs__item {
    font-weight: bold;
}

.app__en .el-table--small .cell {
    font-size: 13px;
}