:root {
    --el-header-padding: 0px;
    --el-color-primary: #1677ff;
    --el-font-size-base: 13.5px;
}
.el-header {
    --el-header-padding: 0px;
    --el-header-height: 50px;
    --el-menu-horizontal-height: 50px;
    z-index: 99;
    box-shadow: 0px 0px 5px 0px rgba(#000000, 0.1);
}
.el-main {
    --el-main-padding: 0px;
}
.el-footer {
    --el-footer-height: 50px;
}
.el-header .el-menu--horizontal {
    --el-menu-hover-bg-color: none;
}
.el-header .el-menu--horizontal > .el-menu-item:nth-child(1) {
    margin-right: auto;
}
.el-header .el-menu--horizontal i {
    font-size: 20px;
    font-weight: bolder;
}
.el-header .el-menu--horizontal .el-menu-item:hover,
.el-header .el-menu--horizontal .el-menu-item:active,
.el-header .el-menu--horizontal .el-menu-item:focus,
.el-header .el-menu--horizontal .el-menu-item.is-active {
    color: var(--el-menu-text-color);
}
.el-aside {
    --el-menu-bg-color: #001529;
    --el-menu-text-color: rgba(255, 255, 255, 0.6);
    --el-menu-active-color: rgba(255, 255, 255, 0.9);
    --el-menu-hover-bg-color: none;
    --el-menu-hover-text-color: rgba(255, 255, 255, 0.9);
    --el-menu-item-height: 40px;
    --el-menu-sub-item-height: var(--el-menu-item-height);
    --el-menu-base-level-padding: 12px;

    background: #001529;
    height: 100%;
    overflow: hidden;

    // 增加动画效果防止折叠卡顿
    transition: width 0.3s;
}
.el-aside .el-container,
.el-aside .el-header,
.el-aside .el-main,
.el-aside .el-footer {
    overflow: hidden;
}
.el-aside .el-menu {
    border-right: none;
}
.el-aside .el-menu .el-menu-item,
.el-aside .el-menu .el-sub-menu__title {
    margin: 4px 8px 4px 8px;
    border-radius: 5px;
}
/* .el-aside .el-menu.el-menu--collapse .el-icon {
    font-size: 20px;
} */
.el-aside .el-menu.el-menu--collapse .el-menu-item,
.el-aside .el-menu.el-menu--collapse .el-sub-menu__title {
    margin: 4px 8px 4px 8px;
    transition: all 0.5s;
}
.el-aside .el-menu .el-menu-item:active {
    background-color: rgba(#1677ff, 0.1);
    color: rgba(255, 255, 255, 0.9);
}
.el-aside .el-menu.el-menu--collapse {
    width: auto;
}
.el-aside .el-menu.el-sub-menu.is-active .el-sub-menu__title,
.el-aside .el-menu .el-menu-item.is-active {
    background-color: var(--el-color-primary);
    color: rgba(255, 255, 255, 0.9);
}
.el-aside .el-menu.el-menu--collapse .el-sub-menu.is-active .el-sub-menu__title,
.el-aside .el-menu.el-menu--collapse .el-menu-item.is-active {
    background-color: var(--el-color-primary);
    color: rgba(255, 255, 255, 0.9);
}
.el-aside .el-menu>.el-sub-menu .el-menu {
    --el-menu-base-level-padding: 36px;
    --el-menu-level-padding: 16px;

    background-color: #000c17;
    padding: 2px 0px;
}
.el-aside .el-sub-menu .el-sub-menu__icon-arrow {
    right: 20px;
}

.el-menu--popup {
    --el-menu-item-height: 42px;
    --el-menu-sub-item-height: 42px;
}

// 表格
.el-table--small .el-table__cell {
    padding: 4px 0px;
}
.el-table--border th.el-table__cell {
    padding: 6px 0px;
}
.ele-table-box .el-table th .cell {
    overflow-wrap: normal;
    white-space: nowrap;
}


.el-tabs--card>.el-tabs__header .el-tabs__nav {
    border-radius: 0;
}
.el-tabs__header {
    margin: 0px;
}

// 表单
.el-input, .el-textarea, .el-select {
    --el-input-border-radius: 2px;
    --el-border-radius-base: 2px;
}
.el-checkbox {
    --el-checkbox-height: 1.8em;
}
.el-checkbox__label {
    --el-checkbox-font-size: 13.5px;
    color: var(--el-text-color-primary);
}
.el-form .el-checkbox {
    --el-checkbox-height: 32px;
}
.el-button--small {
    padding: 3px 8px;
}
.el-form--inline .el-form-item__label {
    white-space: nowrap;
    width: auto !important;
}
.el-select__wrapper {
    font-size: 13.5px;
}

// 面包屑设置
.el-breadcrumb {
    font-size: 13.5px;
}

// 分页设置
.el-pagination {
    --el-pagination-button-width: 28px;
    --el-pagination-button-height: 28px;
    --el-pagination-font-size: 13.5px;
}
.el-pagination .el-select {
    width: 60px;
}
.el-pagination .el-select__wrapper {
    min-height: 28px;
}
.el-pagination .el-input__inner {
    --el-input-inner-height: 26px;
}
.el-pager li.is-active {
    font-weight: normal;
}


// 对话框
.el-dialog {
    --el-dialog-title-font-size: 15px;
}
.el-dialog__title {
    font-weight: bold;
}

// 确认框
.el-message-box {
    --el-messagebox-padding-primary: 16px;
}

// 抽屉
.el-drawer {
    --el-drawer-padding-primary: 15px;
}
.el-drawer .el-drawer__title {
    font-size: 15px;
    color: var(--el-text-color-primary);
    font-weight: bold;
}
.el-drawer .el-drawer__header {
    margin-bottom: 20px;
}

// 滚动条样式
.el-aside::-webkit-scrollbar {
    display: none;
}
.el-aside .el-container::-webkit-scrollbar {
    display: none;
}
.el-aside .el-menu::-webkit-scrollbar {
    display: none;
}
.el-footer::-webkit-scrollbar {
    display: none;
}
